<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Angular Exercise 1</title>
<script src="bower_components/angular/angular.js"></script>
</head>
<body ng-app>

<p>Create a simple calculator that allows you to add two numbers. Hint: you may need to use number inputs!</p>

<h1 ng-init="value1 = 'first value'; value2 = 'second value'; total='total'">{{ value1 }} + {{ value2 }} = {{ total }}</h1>

<p ng-model="total"></p>
<p><input type="number" ng-model="value1"></p>
<p><input type="number" ng-model="value2"></p>

</body>
</html>
