<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Angular Exercise 6</title>
<script src="bower_components/angular/angular.js"></script>
</head>
<body ng-app="Demo">

<p>Add in create, update, and destroy functionality for skills</p>

<div ng-controller="MainCtrl">

  <ul>
    <li ng-repeat="skill in skills">
      {{ skill.name }} <a ng-href="" ng-click="editSkill(skill)">Update</a> | <a ng-href="" ng-click="deleteSkill(skill)">Delete</a>
    </li>
  </ul>

  <h1>Add a Skill</h1>
  <!-- ng-submit is defining the function that we're calling when we submit the form -->
  <!-- Removed validation tags and form name -->
  <!-- Only a form tag triggers an event. A button wouldn't. -->
  <form ng-submit="createSkills(skill)">
    <br>
    <div>
      <label>Skill Name</label>
      <!-- ng-model here is associated with $scope.skill in the Angular controller -->
      <input type="text" ng-model="skill.name">
    </div>

    <button type="submit">Submit</button>
    <!-- could also do ng-click="createSkills(skill)" in button element instead of ng-submit in form element -->
  </form>

<!--   <h1>Delete a Skill</h1>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownSkills" data-toggle="dropdown" aria-expanded="true">
      Skills
      <span class="caret"></span>
    </button>
    <ul ng-submit="deleteSkill(skill)" class="dropdown-menu" role="menu" arialabelledby="dropdownSkills">
      <li ng-repeat="skill in skills" role="presentation"><a role="menuItem" tabindex="-1" href="#" data-value="skill.name">{{ skill.name }}</li>
    </ul>
  </div>

  <br/>
  <button type="submit" class="btn btn-primary" ng-disabled="deleteSkill.$invalid">Delete</button> -->

</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="js/app.js"></script>
</body>
</html>
