<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Angular Exercise 2</title>
<script src="bower_components/angular/angular.js"></script>
</head>
<body ng-app="Demo">

<p>Improve your calculator from exercise 1 using a controller and $watch</p>

<div ng-controller="MainCtrl">

  <p><input type="number" ng-model="num1" placeholder="Number One"> +
  <input type="number" ng-model="num2" placeholder="Number Two"> = {{ answer }}</p>

</div>

<script src="js/app.js"></script>
</body>
</html>
